%nav.navbar.navbar-dark.bg-dark
  = link_to t('header.home'), admin_root_path, class: 'navbar-brand'
  %ul.navbar-num

    %div
      %div{style: 'color: white'}= current_admin.email
      %div= link_to t('header.exit'), session_path, method: :delete
